div{
  width: 200px;
  height: 100px;
  padding: 20px;
  margin-right: 10px;
  display: inline;
}

.bandera-amarilla {
  background-color: #FFC107;
}

.bandera-gris {
  background-color: #2B2B2B;
  color: #fff;
}
