/* Añadiendo declaraciones para requierimientos de parte 2 a 4*/
.div-2,.div-3, .div-4 {
  width: 200px;
  height: 100px;
  padding: 10px 0px 0px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Estructura básica de Parte 1*/
.div-1{
  display: block;
  height: 100px;
  margin-bottom: 10px;
}

/* Aplicando segundo requerimiento, bloques uno sobre otro*/
.div-2{
  display: block;
}

/* Aplicando bloques en línea, parte 3*/
.div-3 {
  display: inline-block;
}

/* Estructura en línea como el flujo del texto, ignora los márgenes top y bottom*/
.div-4 {
  display: inline;
}

/* Valores hexadecimales de colores */
.yellow-flag {
  background-color: #F7B617;
}

.gray-flag {
  background-color: #2B2B2B;
  color: #FFF;
}
